<a href="https://colab.research.google.com/github/imxthexe/python/blob/main/algoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Quelles est le 1er opérateur ?")
op1 = int(input())
print("Quelles est le 2ème opérateur ?")
op2 = int(input())
result = op1 * op2
print("Le resultat est de",op1, "x", op2 ,"est =", result)

Quelles est le 1er opérateur ?
69
Quelles est le 2ème opérateur ?
89
Le resultat est de 69 x 89 est = 6141

In [ ]:
print("Veuillez saisir le nom de l'élève")
nomEleve = input()
print("Saisissez le nombre de points que vous avez ?")
points = int(input())
if points < 120 :
  if points >= 100 :
    print("Rattrapage")
  else :
    print("Refuser")
else :
  print("Admis")

Veuillez saisir le nom de l'élève
Mathis
Saisissez le nombre de points que vous avez ?
110
Rattrapage

In [ ]:
print("Veuillez saisir le numéro du mois (1-12):")
mois = int(input())

match mois:
    case 1 : libel = "C'est le mois de janvier"
    case 2 : libel = "C'est le mois de février"
    case 3 : libel = "C'est le mois de mars"
    case 4 : libel = "C'est le mois de avril"
    case 5 : libel = "C'est le mois de mai"
    case 6 : libel = "C'est le mois de juin"
    case 7 : libel = "C'est le mois de juillet"
    case 8 : libel = "C'est le mois de août"
    case 9 : libel = "C'est le mois de septembre"
    case 10 : libel = "C'est le mois de octobre"
    case 11 : libel = "C'est le mois de novembre"
    case 12 : libel = "C'est le mois de décembre"
    case _ : libel = "Erreur dans la saisie : le numéro doit être entre 1 et 12."

if 1 <= mois <= 12:
    print(f"Le mois correspondant au chiffre {mois} {libel}.")
else:
    print("Veuillez réessayer avec un numéro valide.")

Veuillez saisir le numéro du mois (1-12):
1
Le mois correspondant au chiffre 1 C'est le mois de janvier.

In [ ]:
oper = 0
while oper < 11:
  result = 2*oper
  print("2 x", oper, "=", result)
  oper = oper + 1

for oper in range(11):
    result = 2 * oper
    print("2 x", oper, "=", result)

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20